/*Footer */

.footer {
  height: 20vh;
  max-height: 40px;
  padding: 0 5%;
  color: $font-footer-color;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

@media (min-width: 1000px) {
  .footer {
    text-align: left;
  }
}